<h4 class="ui center aligned medium icon header">
  <i class="circular red paper plane outline  icon"></i>
  Say Something
</h4>
<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui card fluid raised chatbox">
      <div class="content">
        <div class="ui medium feed">
          <h4 class="ui header">Messages</h4>
          <%=render @messages %>
        </div>
      </div>
      <% if logged_in?%>
      <div class="extra content">
        <form class="ui reply form">
            <div class="field">
              <div class="ui fluid icon input">
                <input type="text" placeholder="Enter a message.."></input>
                <i class="bordered inverted green edit icon"></i>
              </div>
            </div>
        </form>
      </div>
      <%else%>
        <div class="ui icon message">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div class="header">
              To Enter The Chatroom Please Login
            </div>
          </div>
          <%= link_to "Login", login_path,class: " right floated positive ui  button" %>
<!--          <button class="  right floated positive ui  button">Login</button>-->
        </div>
      <%end %>
    </div>
  </div>

  <div class="four wide column center aligned ">
    <div class="ui vertical inverted pointing menu ">
        <div class="content">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
    </div>
  </div>
</div>
